@page "/{GameID:guid?}"
@inject ISnackbar Snackbar
@using PhysicsDemo.Data.GameData
@using PhysicsDemo.Components.Dialogs
@inject PhysicsService physicsService
@inject IDialogService dialogService
@inject UserService userService
<PageTitle>Physics Game Play</PageTitle>
@if (User != null)
{
    @if (SelectedGame == null)
    {
        <MudTabs @bind-ActivePanelIndex="activePanel">
            <MudTabPanel Text="Create New Game">
                <MudStack>
                    <MudTextField @bind-Value="PlayerName" Label="Your Name" />
                    <MudSelect @bind-Value="NumPlayers" Label="# Players">
                        <MudSelectItem T="int?" Value="1">Solo</MudSelectItem>
                        <MudSelectItem T="int?" Value="2">2</MudSelectItem>
                        <MudSelectItem T="int?" Value="3">3</MudSelectItem>
                        <MudSelectItem T="int?" Value="4">4</MudSelectItem>
                        <MudSelectItem T="int?" Value="5">5</MudSelectItem>
                        <MudSelectItem T="int?" Value="6">6</MudSelectItem>
                    </MudSelect>
                    <MudStack Row>
                        <MudNumericField HideSpinButtons @bind-Value="StartPt" Label="Start" />
                        <MudNumericField HideSpinButtons @bind-Value="MidPt" Label="Midpoint" />
                        <MudNumericField HideSpinButtons @bind-Value="EndPt" Label="Finish Line" />
                    </MudStack>
                    <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="CreateGame" Disabled="NumPlayers == null || string.IsNullOrWhiteSpace(PlayerName)">Create Game</MudButton>
                </MudStack>
            </MudTabPanel>
            <MudTabPanel Text="Join Existing Game">
                <MudTextField @bind-Value="PlayerName" Label="Your Name" />
                <MudTextField @bind-Value="JoinCode" Label="Enter Code" />
                <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="JoinGame" Disabled="string.IsNullOrEmpty(JoinCode) || JoinCode.Length != 6 || string.IsNullOrWhiteSpace(PlayerName)">Join Game</MudButton>
            </MudTabPanel>
            <MudTabPanel Text="Continue Game">
                <MudTable Items="Games.Where(e => e.GameEnd == null)" Striped Bordered>
                    <ToolBarContent>
                        <MudText>All Open Games</MudText>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Code</MudTh>
                        <MudTh>Started</MudTh>
                        <MudTh>Ended</MudTh>
                        <MudTh># Players</MudTh>
                        <MudTh>Rejoin</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@context.JoinCode</MudTd>
                        <MudTd>@context.GameStart.ToString("MM/dd/yy")</MudTd>
                        <MudTd>@context.GameEnd?.ToString("MM/dd/yy")</MudTd>
                        <MudTd>@context.NumPlayers</MudTd>
                        <MudTd>
                            @if (context.GameEnd == null)
                            {
                                <MudIconButton Icon="@Icons.Material.TwoTone.PlayCircle" OnClick="() => SelectedGame = context" Color="Color.Info" />
                            }
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            </MudTabPanel>
            <MudTabPanel Text="Your Games">
                <MudTable Items="Games.Where(e =>  e.CreatorID == User.UserID && (e.GameEnd == null || ShowCompleted))" Striped Bordered>
                <ToolBarContent>
                    <MudText>Your Games</MudText>
                    <MudSpacer />
                    <MudCheckBox @bind-Value="ShowCompleted">Show Completed</MudCheckBox>
                </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Status</MudTh>
                        <MudTh>Started</MudTh>
                        <MudTh>Ended</MudTh>
                        <MudTh>Winner</MudTh>
                        <MudTh># Players</MudTh>
                        <MudTh>Actions</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>@(context.GameEnd == null ? "In Progress" : "Ended")</MudTd>
                        <MudTd>@context.GameStart.ToString("MM/dd/yy")</MudTd>
                        <MudTd>@context.GameEnd?.ToString("MM/dd/yy")</MudTd>
                        <MudTd>
                            @if (context.GameEnd != null)
                            {
                                <p>@(context.Winner?.PlayerName ?? "No One")</p>
                            }
                        </MudTd>

                        <MudTd>@context.NumPlayers</MudTd>
                        <MudTd>
                            @if (context.GameEnd == null)
                            {
                                <MudIconButton Icon="@Icons.Material.TwoTone.PlayCircle" OnClick="() => SelectedGame = context" Color="Color.Info" />
                                <MudIconButton Icon="@Icons.Material.TwoTone.Cancel" OnClick="() => CloseGame(context)" Color="Color.Warning" />
                            }
                            else if (ShowCompleted)
                            {
                                <MudIconButton Icon="@Icons.Material.TwoTone.DataThresholding" OnClick="() => SelectedGame = context" Color="Color.Info" />
                            }
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            </MudTabPanel>
            <MudTabPanel Text="Profile">
                <MudStack>
                    <MudTextField @bind-Value="User.UserName" Label="Your Name" />
                    <MudTextField @bind-Value="User.EmailAddress" Label="Your Email Address" />
                    <MudButton Disabled="string.IsNullOrWhiteSpace(User.UserName) || string.IsNullOrWhiteSpace(User.EmailAddress)" 
                    OnClick="SaveProfile" Variant="Variant.Filled" Color="Color.Info">Save Profile</MudButton>
                </MudStack>
            </MudTabPanel>
        </MudTabs>
    }
    else
    {
        <GameEngine SelectedGame="SelectedGame" User="User" />
    }
}
else
{
    @if (RejoiningQR)
    {
        <MudTextField @bind-Value="GuestPin" Label="PIN to rejoin game" />
        <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="Cancel">Cancel</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="RejoinGuestFromQR">Rejoin Game</MudButton>
    }
    else if (GuestUser == null)
    {
        <MudStack Row>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="Account/Login">Log In</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="PlayGuestSolo">Play Solo as Guest</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="PlayGuest">Join as Guest</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="RejoinGuest">Rejoin Game as Guest</MudButton>
        </MudStack>
    }
    else
    {
        @if (Rejoin)
        {
            <MudTextField @bind-Value="JoinCode" Label="Join Code for game" Immediate />
            <MudTextField @bind-Value="GuestPin" Label="Use your PIN to rejoin" MaxLength="8" Immediate />
            <MudStack Row>
                <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="Cancel">Cancel</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="RejoinGameAsGuest"
                    Disabled="JoinCode?.Length != 6 || string.IsNullOrWhiteSpace(GuestPin)">Rejoin Existing Game</MudButton>
            </MudStack>
        }
        else if (SelectedGame == null)
        {
            <MudStack>
                <MudTextField @bind-Value="JoinCode" Label="Join Code for game" Immediate />
                <MudTextField @bind-Value="PlayerName" Label="Your Player Name" MaxLength="8" Immediate />
                <MudTextField @bind-Value="GuestPin" Label="Create a PIN to join" MaxLength="8" Immediate />
                <MudStack Row>
                    <MudButton Variant="Variant.Filled" Color="Color.Default" OnClick="Cancel">Cancel</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Info" OnClick="JoinGameAsGuest"
                    Disabled="JoinCode?.Length != 6 || string.IsNullOrWhiteSpace(PlayerName)
                    || string.IsNullOrWhiteSpace(GuestPin)">Join Existing Game</MudButton>
                </MudStack>
            </MudStack>
        }
        else if (GuestUser != null)
        {
            <GameEngine SelectedGame="SelectedGame" User="GuestUser" />
        }
        else
        {
            <MudAlert Severity="Severity.Error">Configuration Error.  Please contact tech support.</MudAlert>
        }
    }
}

@code {
    [CascadingParameter] public Auth0User? User { get; set; }
    [Parameter] public Guid? GameID { get; set; }
    private bool loaded = false;
    private string? PlayerName { get; set; } = null;
    List<PhysicsGame> Games { get; set; } = [];
    PhysicsGame? SelectedGame { get; set; } = null;
    private PhysicsGuestUser? GuestUser { get; set; } = null;
    private void PlayGuest()
    {
        GuestUser = new();
    }
    private void PlayGuestSolo()
    {
        GuestUser = new();
        PhysicsGame game = new PhysicsGame()
        {
            CreatorID = GuestUser.UserID,
            NumPlayers = 1,
            GameStart = DateTime.Now,
            StartPoint = StartPt,
            MidPoint = MidPt,
            EndPoint = EndPt
        };
        game.Players = [new() { GameID = game.ID, PlayerID = game.CreatorID, PlayerName="Player 1" }];
        physicsService.CreateGame(game);
        Games.Add(game);
        SelectedGame = game;
    }
    private bool Rejoin { get; set; } = false;
    private void RejoinGuest()
    {
        GuestUser = new();
        Rejoin = true;
    }
    private bool RejoiningQR { get; set; } = false;
    private void RejoinGuestFromQR()
    {
        if (SelectedGame == null || string.IsNullOrEmpty(GuestPin))
            return;
        List<PhysicsGuestUser> users = physicsService.GetGuestUsers(SelectedGame.Players.Where(e => e.GuestPlayer).Select(e => e.PlayerID).ToHashSet());
        PhysicsGuestUser? user = users.FirstOrDefault(e => e.Passcode == GuestPin);
        if (user == null)
        {
            Snackbar.Add("Incorrect rejoin PIN!", Severity.Error);
            return;
        }
        else
        {
            GuestUser = user;
            RejoiningQR = false;
        }
    }
    private int activePanel { get; set; } = 0;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (!loaded && User != null)
        {
            PlayerName = User.UserName ?? User.EmailAddress ?? "Your Name";
            Games = physicsService.GetGamesByUser(User.UserID).OrderByDescending(e => e.GameStart).ToList();
            PlayerName = User.UserName;
            loaded = true;
            if (Games.Any(e => e.GameEnd == null))
                activePanel = 2;
        }
        if (GameID != null)
        {
            PhysicsGame? game = physicsService.GetGameByID(GameID.Value);
            if (game != null)
            {
                if (User != null && game.Players.Any(e => e.PlayerID == User.UserID))
                {
                    //game will auto rejoin below by setting SelectedGame = game, right?
                }
                else if (game.Players.Count < game.NumPlayers)
                {
                    string pcode = "";
                    Random r = new();
                    for (int i = 0; i < 4; i++)
                        pcode += r.Next(10).ToString();
                    if (User != null && !game.Players.Any(e => e.PlayerID == User.UserID))
                    {
                        PhysicsPlayer newplayer = new() { GameID = game.ID, PlayerID = User.UserID, PlayerName=PlayerName, GuestPlayer=false };
                        physicsService.CreatePlayer(newplayer);
                        game.Players.Add(newplayer);
                    }
                    else
                    {
                        GuestUser = new() {
                            Passcode = pcode, FirstLogin=DateTime.Now,PlayerName=$"Player {game.Players.Count+1}",UserID=Guid.NewGuid()
                        };
                        physicsService.CreateGuestPlayer(GuestUser);
                        PhysicsPlayer newplayer = new() { GameID = game.ID, PlayerID = GuestUser.UserID, PlayerName=$"Player {game.Players.Count+1}", GuestPlayer=true };
                        physicsService.CreatePlayer(newplayer);
                        game.Players.Add(newplayer);
                    }
                }
                else if (game.Players.Any(e => e.GuestPlayer))
                {
                    RejoiningQR = true;
                }
                else
                {
                    Snackbar.Add("That game is full!", Severity.Error);
                }
                //add QR code logic here
                SelectedGame = game;
            }
            //StateHasChanged();
        }
    }
    private int? NumPlayers = null;
    private bool ShowCompleted { get; set; } = false;
    private void Cancel()
    {
        JoinCode = null;
        PlayerName = null;
        GuestPin = null;
        Rejoin = false;
        GuestUser = null;
        RejoiningQR = false;
    }
    private void CreateGame()
    {
        if (NumPlayers == null || User == null)
            return;
        PhysicsGame game = new PhysicsGame()
        {
            CreatorID = User!.UserID,
            NumPlayers = NumPlayers.Value,
            GameStart = DateTime.Now,
            StartPoint = StartPt,
            MidPoint = MidPt,
            EndPoint = EndPt
        };
        game.Players = [new() { GameID = game.ID, PlayerID = game.CreatorID, PlayerName=PlayerName }];
        physicsService.CreateGame(game);
        Games.Add(game);
        SelectedGame = game;
    }
    private string? JoinCode { get; set; } = null;
    private void JoinGame()
    {
        if (string.IsNullOrEmpty(JoinCode) || JoinCode.Length != 6 || User == null)
            return;
        PhysicsGame? game = physicsService.GetGameByCode(JoinCode);
        if (game == null)
        {
            Snackbar.Add("Game code not found!", Severity.Error);
        }
        else if (game.NumPlayers == game.Players.Count)
        {
            Snackbar.Add("That game is full!", Severity.Warning);
        }
        else if (game.Players.Any(e => e.PlayerID == User.UserID))
        {
            Snackbar.Add("You are already in that game.", Severity.Warning);
        }
        else
        {
            PhysicsPlayer newplayer = new() { GameID = game.ID, PlayerID = User.UserID, PlayerName=PlayerName, GuestPlayer=false };
            physicsService.CreatePlayer(newplayer);
            game.Players.Add(newplayer);
            SelectedGame = game;
        }
    }
    private string? GuestPin { get; set; } = null;
    private void JoinGameAsGuest()
    {
        if (string.IsNullOrWhiteSpace(JoinCode) || JoinCode.Length != 6 || string.IsNullOrWhiteSpace(GuestPin) || GuestUser == null)
            return;
        PhysicsGame? game = physicsService.GetGameByCode(JoinCode);
        if (game == null)
        {
            Snackbar.Add("Game code not found!", Severity.Error);
        }
        else if (game.NumPlayers == game.Players.Count)
        {
            Snackbar.Add("That game is full!", Severity.Warning);
        }
        else
        {
            List<PhysicsPlayer> players = game.Players.Where(e => e.GuestPlayer).ToList();
            List<PhysicsGuestUser> users = physicsService.GetGuestUsers(players.Select(e => e.PlayerID).ToHashSet());
            PhysicsGuestUser? user = users.FirstOrDefault(e => e.Passcode == GuestPin);
            if (user != null)
            {
                Snackbar.Add("That game already has a guest player using that PIN.", Severity.Warning);
                return;
            }
            GuestUser.Passcode = GuestPin;
            GuestUser.PlayerName = PlayerName ?? "";
            physicsService.CreateGuestPlayer(GuestUser);
            PhysicsPlayer newplayer = new() { GameID = game.ID, PlayerID = GuestUser.UserID, PlayerName=PlayerName, GuestPlayer=true };
            physicsService.CreatePlayer(newplayer);
            game.Players.Add(newplayer);
            SelectedGame = game;
        }
    }
    private void RejoinGameAsGuest()
    {
        if (string.IsNullOrWhiteSpace(JoinCode) || JoinCode.Length != 6 || string.IsNullOrWhiteSpace(GuestPin))
            return;
        PhysicsGame? game = physicsService.GetGameByCode(JoinCode);
        if (game == null)
        {
            Snackbar.Add("Game code not found!", Severity.Error);
        }
        else
        {
            List<PhysicsPlayer> players = game.Players.Where(e => e.GuestPlayer).ToList();
            if (players.Count == 0)
            {
                Snackbar.Add("That game has no guest players.", Severity.Warning);
                return;
            }
            List<PhysicsGuestUser> users = physicsService.GetGuestUsers(players.Where(e => e.GuestPlayer).Select(e => e.PlayerID).ToHashSet());
            PhysicsGuestUser? user = users.FirstOrDefault(e => e.Passcode == GuestPin);
            if (user == null)
            {
                Snackbar.Add("No player with that PIN found in that game!", Severity.Error);
                return;
            }
            else
            {
                GuestUser = user;
                SelectedGame = game;
                Rejoin = false;
            }
            
        }
    }
    private void SaveProfile()
    {
        if (User != null)
            userService.UpdateUser(User);
    }
    private void CloseGame(PhysicsGame game)
    {
        game.GameEnd = DateTime.Now;
        physicsService.UpdateGame(game);
    }
    private void Refresh()
    {
        if (SelectedGame != null)
            SelectedGame = physicsService.GetGameByID(SelectedGame.ID);
    }
    private int StartPt { get; set; } = 0;
    private int? MidPt { get; set; } = 100;
    private int? EndPt { get; set; } = 0;
}