@using PhysicsDemo.Data.GameData
@inject ISnackbar Snackbar
@inject PhysicsService physicsService

<MudButton OnClick="Refresh" Color="Color.Primary" Variant="Variant.Filled">Refresh</MudButton>
<MudSimpleTable Striped Bordered>
    <thead>
        <tr>
            <th>Time</th>
            <th>Force</th>
            <th>Acceleration</th>
            <th>Velocity</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@(TurnNumber)</td>
            <td>
                <MudNumericField @bind-Value="NewForce" Label="Force" Style="width:200px;" Immediate />
            </td>
            <td colspan="3">
                <MudButton Color="Color.Info" Variant="Variant.Filled" Disabled="!NewForce.HasValue || TurnNumber == MyMoves!.MaxTurn" OnClick="AddMove">Next Step</MudButton>
            </td>
        </tr>
        @foreach (GameStepModel model in MyMoves!.Steps.OrderByDescending(e => e.Time))
        {
            <tr>
                <td>@model.Time</td>
                <td>@model.Force.ToString()</td>
                <td>@model.Acceleration.ToString("N1")</td>
                <td>@model.Velocity.ToString("N1")</td>
                <td>@model.Position.ToString("N1")</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>

@code {
    [Parameter, EditorRequired] public Auth0User User { get; set; }
    [Parameter, EditorRequired] public PhysicsGame SelectedGame { get; set; }
    private List<UserMoves> Moves { get; set; } = [];
    private PhysicsPlayer? MyPlayer => SelectedGame.Players.FirstOrDefault(e => e.PlayerID == User.UserID);
    private UserMoves? MyMoves => Moves.FirstOrDefault(e => e.UserID == User.UserID);
    private int TurnNumber { get; set; } = 1;
    private int? NewForce { get; set; } = null;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        TurnNumber = SelectedGame.CurrentRound;
        foreach (PhysicsPlayer player in SelectedGame.Players)
        {
            Moves.Add(new UserMoves() { UserID = player.PlayerID, UserName = player.PlayerName ?? "Unknown", Steps = RecalculateSteps(player.Turns) });
        }
    }
    private void Refresh()
    {
        PhysicsGame? game = physicsService.GetGameByID(SelectedGame.ID);
        if (game != null)
        {
            TurnNumber = SelectedGame.CurrentRound;
            Moves = [];
            foreach (PhysicsPlayer player in SelectedGame.Players)
            {
                Moves.Add(new UserMoves() { UserID = player.PlayerID, UserName = player.PlayerName ?? "Unknown", Steps = RecalculateSteps(player.Turns) });
            }
            SelectedGame = game;
        }
        else
        {
            Snackbar.Add("Game not found, please wait and retry.", Severity.Error);
        }
    }
    private List<GameStepModel> RecalculateSteps(List<PhysicsTurn> turns)
    {
        List<GameStepModel> models = [new GameStepModel()];
        foreach (PhysicsTurn turn in turns)
        {
            models.Add(new(models.Last(),turn));
        }
        return models;
    }
    private void AddMove()
    {
        if (NewForce == null || MyPlayer == null || MyMoves == null)
            return;
        PhysicsTurn turn = new()
        {
            GameID = SelectedGame.ID,
            PlayerID = User.UserID,
            CreatedTimeStamp = DateTime.Now,
            TurnValue = NewForce.Value,
            RoundNumber = TurnNumber
        };
        physicsService.CreateTurn(turn);
        MyPlayer.Turns.Add(turn);
        MyMoves.Steps.Add(new(MyMoves.Steps.Last(),turn));
    }
    public class UserMoves
    {
        public Guid UserID { get; set; }
        public string UserName { get; set; }
        public List<GameStepModel> Steps { get; set; } = [];
        public int MaxTurn => Steps.Count == 0 ? 0 : Steps.Select(e => e.Time).Max();
    }
    
}